
body{
		margin:0;
    padding: 1px;
	 	border:5px;
		font-size: 30px;
		text-align:center;
		background-color: #FFFFFF;
}

.navbar-brand{
	font-weight: 400;
	font-size: 30px;
	font-family: 'Raleway',sans-serif;
}
.nav-link{
	font-size: 25px;
	font-family: 'Raleway',sans-serif;
	padding: 0px;
}
.cart{
	height:20px;
	width: 20px;

}
.bg-primary{
	background-color: black !important;
	background-image: none;
}

.display-4{
	font-size: 150px;
	font-weight: 700;
	color: #fff;
	font-family:  'Roboto Condensed',sans-serif;
}

.btn-primary{
	font-size: 2rem;
	font-weight: bold;
	background-color: #dc3545;
	font-family: 'Raleway', sans-serif;
}

.lead{
	font-size: 45px;
	font-weight: 600;
	color:#fff;
  font-family:  'Roboto Condensed',sans-serif;

}
.btn-lg{
	border-radius: 3rem;
}

.title_description{
color: white;
background-color: #2a0090bf;
text-align: center;
font-family: 'Raleway', sans-serif;
font-size: 45px;
font-weight: 600;
}

.description{
	color: white;
	font-size: 35px;
	text-align: center;
	font-family: 'Roboto', sans-serif;
	text-align: justify,center;
}

.logo{
height:60px;
width: 60px;
}

.container2{
	background-color: black;
	opacity: 0.90;
}

.steps{
	font-size: 45px;
	color: red !important;
}

.container3{
	background-color: black;
	opacity: 0.90;
	margin-top: 30px;
}

.steptitle{
	color: white;
	font-size: 45px;
	background-color: #2a0090bf;

}
.description3{
	color: white;
	font-size: 35px;
	text-align: center;
	font-family: 'Roboto', sans-serif;
}

.container4{
	margin-top: 50px;
	margin-bottom: 50px;
}

.btn-primary:hover{
	background-color:#070710d4 !important;
	border-color: white;
}

.form-control{
	height: 50px;
	font-size: 30px;
}

.form-group{
	font-size: 30px;
}

.form-check{
	margin-right: 30px;
	color: black;
	padding: 5;
}
